<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipselabs.matlipse.mconsole.win32.comMatlabInterpreter"
         name="Win32 COM MatlabInterpreter"
         point="org.eclipselabs.matclipse.mconsole.matlabInterpreter">
      <client
            class="org.eclipselabs.matclipse.mconsole.win32.impl.COMMatlabInterpreter"></client>
   </extension>

</plugin>
